#weatherApp {
  #forecastDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      list-style: none;
    }

    .forecastLabel {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
	
	.forecastTemp {
		text-indent: .3rem;
	}
  }
}
