#weatherApp {
  #forecastDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      list-style: none;
    }

    #day1Label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #day2Label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #day3Label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #day4Label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    #day5Label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
